{% extends 'base.html' %}

{% block title %}
	{{ object.title }} - {{ block.super }}
{% endblock %}

{% block main %}
<h1> {{ object }} </h1>
<p class="lead">
{{ object.plot }}
</p>
{% endblock %} 

{% block sidebar %}
<div> 
This is a side bar and can be used for movie rattings or other features
</div>
<div>
	{% if vote_form %}
	<form method="post"
       action = "{{ vote_form_url }}" >
       {% csrf_token %}
       {{ vote_form.as_p }}
       <button class="btn btn-primary">
	       Vote
       </button>
	</form>
	{% else %}
	<p> log in to vote for Movie </p>
	{% endif %}
</div>
{% endblock %} 
